@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>Products</h1>

<div class="card mb-3 bg-light">
    <div class="card-body">
        <form class="row row-cols-lg-auto g-3 align-items-center">
            <div class="col-12">
                <label>Category</label>
            </div>

            <div class="col-12">
                <select class="form-select" asp-items="Model.Categories" asp-for="CategoryId">
                    <option valıe="">All</option>
                </select>
            </div>

            <div class="col-12">
                <label>Brand</label>
            </div>

              <div class="col-12">
                <select class="form-select" asp-items="Model.Brands" asp-for="BrandId">
                    <option valıe="">All</option>
                </select>
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

    </div>
</div>

<div class="row">
    @foreach (var item in Model.Products)
    {
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card mb-3">
                <img src="~/img/products/@item.PictureUri" alt="Product Image" class="w-100" />

                <div class="card-body">
                    <h6 class="card-title product-title">@item.Name</h6>
                    <p class="card-text">@item.Price.ToString("c2")</p>
                    <a href="#" class="btn btn-primary">Add To Basket</a>
                </div>
            </div>
        </div>
    }
</div>